img {
  max-width: 10rem;
}

body {
  background-color: #fff;
}

.outer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation li {
  list-style: none;
  padding: 0 1rem;
}

.global-link {
  background-color: #00244a;
}

.homepage-header-image {

}

.top-content {
  text-align: center;
  padding: 0px 15%;
}

.what-we-do-section {
  background-color: blue;
  border-top: 5px solid black;
}

.cover-text {
  background-color: rgba(204, 204, 204, .5);

}

.footer {
  background-color: #00244a;
  color: #fff;
}
