img {
  max-width: 5rem;
}

body {
  background-color: #FFF;
}

.outer-wrapper {

}

.navigation {

}

.homepage-header-image {

}

.top-content {

}

.what-we-do-section {

}

.footer {
  background-color: #00244a;
}
