img {
  max-width: 10rem;
}

body {
  background-color: #fff;
}

.outer-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.navigation {
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #3585b7;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation li {
  list-style: none;
  padding: 0 1rem;
}

.home {
  background: url(/portfolio/Pulse-Creative-Coding-Test/images/A&M_Wheel.png) 0 0 no-repeat;
  height: 64px;
  width: 15rem;
  background-position: center;
  background-size: cover;
}

.home a {
  color: transparent;
}

.global-link {
  background-color: #00244a;
  position: absolute;
  right: 0;
  top: 0;
}

.homepage-header-image {

}

h1 {
  color: #00355f;
}

.top-content {
  text-align: center;
  padding: 0px 15%;
}

.what-we-do-section {
  background-color: blue;
  border-top: 5px solid #4e8abe;
}

.cover-text {
  background-color: rgba(204, 204, 204, .5);

}

.footer {
  background-color: #00244a;
  color: #fff;
}
