/* ----- Designed and coded by Grayson Randall -----
----- https://graysonrandall.github.io/portfolio/index.html ----- */

// COLORS
@text: #343434;
@white: #fff;
@green: #73ADA1;
@blue: #72A2BA;
@rorange: #FF776E;

// CLASSES
.transitions-all {
  -webkit-transition: all .7s ease-in;
  -moz-transition: all .7s ease-in;
  -o-transition: all .7s ease-in;
  -ms-transition: all .7s ease-in;
  transition: all .7s ease-in;
}
.gothic() {
  font-family: 'Hiragino Kaku Gothic Std';
}
.arial() {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}
.transition2() {
  transition: all .2s ease-in-out;
}
.ext-stuff() {
  content: '';
  background-image: url(/portfolio/image/link-external.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
}
